<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
    <body>
        <form id="login_form" action="/login/submit/" method="POST">
            <label for="">用户名</label>
            <input type="text" name="username">
            <br>
            <label for="">密码</label>
            <input type="password" name="password" id="password" >
            <br>
            <label for="">验证码</label>
            <input id="code_content" name="code" type="text">
            <div id="code_result"></div>
            <br>
            <img src="/login/code/" width="150",height="50">
            <br>
            <button id="submit_1" type="button">登录</button>
            <button type="reset">重置</button>
            <br>
            <a href="/signup/">注册</a>
            <br>
            <a href="/search/">查找用户</a>
        </form>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.validate.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
    <script type="text/javascript" src="/js/jQuery.md5.js"></script>

    </body>
</html>