<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/flat-ui.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
    <body>
        <h1 id="title">登录</h1>
        <div class="login_form_div">
            <form id="login_form" action="/login/submit/" method="POST" role="form">
                <div class="form-group">
                    <label class="labels" for="">用户名</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label for="">密码  </label>
                    <input type="password" name="password" class="form-control" id="password" >
                </div>
                <div class="form-group">
                    <label for="">验证码</label>
                    <input id="code_content" name="code" class="form-control" type="text">
                </div>
                <img src="/login/code/" width="150",height="50" class="img-thumbnail">
                <div id="code_result"></div>
                <br>
                <button class="btn btn-large btn-block btn-primary" id="submit_1" type="button">登录</button>
                <button class="btn btn-large btn-block btn-danger" type="reset">重置</button>
                <a class="toright" href="/signup/">注册</a>
                <a class="toright" href="/search/">查找用户</a>
            </form>
        </div>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.validate.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
    <script type="text/javascript" src="/js/jQuery.md5.js"></script>
        
    </body>
</html>