<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改用户信息</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/flat-ui.css">
    <link rel="stylesheet" type="text/css" href="/css/modified_info.css">
</head>
<body>
    <h1 id="title">更新</h1>
    <div class="modified_form_div">
        {% if username %}
            <form id="modified_form" method="POST" action="/login/modified/submit/" enctype="multipart/form-data">
            <div class="form-group">
                <label for="">用户名</label>
                <input type='text' name="username" readonly = "readonly" value={{ username }} class="form-control">
            </div>
            <div class="form-group">
            <label for="">密码:</label>
            <input id="password" type="password" name="password"  class="form-control">
            </div>
            <div class="form-group">
            <label for="">重复密码:</label>
            <input type="password" id="password_again" name="password_again" id="" class="form-control">
            </div>
            <div class="form-group">
                <label for="">性别</label>
                <label class="radio" for="male">
                        <span class="icon"></span>
                        <span class="icon-to-fade"></span>
                        <input name="gender" id="male" type="radio" value='1' >
                        男
                </label>
                <label class="radio" for="female">
                        <span class="icon"></span>
                        <span class="icon-to-fade"></span>
                        <input name="gender" class="radio_input" type="radio" value='0' id="female">
                        女
                </label>
            </div>
            <div class="form-group">
                <label for="">出生日期</label>
                <br>
                <input type="date">
            </div>
            <div class="form-group">
                <label for="">爱好</label>
                <div >
                    <label class="checkbox" for="basketball">
                        <span class="icon"></span>
                        <span class="icon-to-fade"></span>
                        <input type="checkbox" name="basketball" id="basketball">
                        篮球
                    </label>
                </div>
                <div >
                    <label class="checkbox" for="soccer">
                        <span class="icon"></span>
                        <span class="icon-to-fade"></span>
                        <input type="checkbox"  name="soccer" id="soccer">
                        足球
                    </label>
                </div>
                <div >
                    <label class="checkbox" for="music">
                        <span class="icon"></span>
                        <span class="icon-to-fade"></span>
                        <input type="checkbox" name="music" id="music">
                        音乐
                    </label>
                </div>
               <div >
                    <label class="checkbox" for="ec">
                        <span class="icon"></span>
                        <span class="icon-to-fade"></span>
                        <input type="checkbox" name="ec" id="ec">
                        电子竞技
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="">籍贯</label>
                <select class="form-control" name="province" id="province">
                </select>
                <select class="form-control" name="city" id="city">
                </select>
            </div>
            <div class="form-group">
                <label for="">照片</label>
                <input type="file" name="photo" id="">
            </div>
            <div class="form-group">
                <label for="">自我介绍</label>
                <br>
                <textarea class="form-group" name="introduce" id="" rows="3" cols="90"></textarea>
            </div>
            <button id="submit" class="btn btn-large btn-block btn-primary" type="submit">更新</button>
            <button class="btn btn-large btn-block btn-danger" type="reset">重置</button>
            <a class="toright" href="/login/">返回登录</a>
        </form>

    {% else %}
        <h1>没有登录！</h1>
    {% endif %}
    </div>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script src="/js/flatui-checkbox.js"></script>
    <script src="/js/flatui-radio.js"></script>
    <script type="text/javascript" src="/js/jquery.validate.js"></script>
    <script type="text/javascript" src="/js/modified.js"></script>
    <script type="text/javascript" src="/js/jQuery.md5.js"></script>
</body>
</html>